@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@font-face {
    font-family: "Banny";
    src: local('Banny'), url(../Fonts/Banny-Bold.woff) format('woff');
}
