.header {
    width: 100%;
    height: 100px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .header__nav--left, .header__nav--right {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .header__nav--left--list, .header__nav--right--list {
        width: 100%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .header__nav--left--list {
        padding-left: 130px;
    }

    .header__nav--right--list {
        padding-right: 130px;
    }

    .header__nav--left--list--item, .header__nav--right--list--item {
        width: 133px;
        height: 100%;
        font-size: $navFontSize;
        color: #fff;
        font-family: $navFont;
        text-transform: uppercase;
        cursor: pointer;
        transition: ease-out .3s;
        @extend %center;

        &:hover {
            background-color: #E8C300;
            color: #000;
        }
    }
    .header__nav--logo {
        margin-top: 25px;
    }
}




