.main {
    width: 100%;
    height: 800px;
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
}

.wrapper-section {
    display: flex;
    justify-content: center;
    margin-top: 212px;
    .wrapper {
        width: 1280px/1440px*100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.aside__left {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 45px;
    .aside__left--text {
        font-size: 12px;
        font-family: "Open Sans";
        color: #fff;
    }
}

.wrapper__container {
    width: 790px/1280px*100%;
    height: 100%;
}

.wrapper__text {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    
    .wrapper__inner--subtitle {
        font-size: 12px;
        font-family: "Open Sans";
        font-weight: bold;
        letter-spacing: 8px;
    }

    .wrapper__inner--title {
        font-size: 96px;
        font-family: "Banny";
        margin-top: 28px;
        position: relative;
        z-index: 1;
        &::after {
            border-bottom: 6px solid #E8C300;
            content: "";
            display: block;
            z-index: 20;
            position: absolute;
            left: 46%;
            top: 0;
            right: 46%;
            bottom: -20px;
        }
    }
}

.wrapper__button {
    width: 440/790*100%;
    height: 63px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    .wrapper__button--one, .wrapper__button--two {
        margin: 0 20px;
    }

    .btn {
        width: 200px;
        height: 63px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        @extend %center;

    &:hover {
        background-color: #E8C300;
        border-radius: 5px;
        border: none;
        color: black;
        transition: ease-out .3s;
    }
    }
}


.aside__right {
    width: 60px;
    height: 220px;
    display: flex;
    align-items: center;

    .aside__right--social--list {
        list-style-type: none;
    }

    .aside__right--social--list--item {
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        @extend %center;
        margin: 20px 0;

        svg {
            width: 40px;
            height: 40px;
            fill: #fff;
            cursor: pointer;
        &:hover {
            fill: #E8C300;
        }
        }
    }
}

.btnDown {
    width: 100%;
    height: 60px;
    margin-top: 80px;
    @extend %center;

    .btnDown--border {
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        @extend %center;
    }

    .btnDown--icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        @extend %center;
        cursor: pointer;

        &:hover {
            background-color: #E8C300;
            transition: ease-out .3s;
        }
    }

    .btnDown--icon--svg {
        width: 15px;
        height: 15px;
        fill: #000;
    }
}