@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
    font-family: "Banny";
    src: local('Banny'), url(../Fonts/Banny-Bold.woff) format('woff');
}

$navFont: "Open Sans";
$navFontSize: 12px;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@import "./header";
@import "./main";





